@model IEnumerable<CinemaSelection>


<ul>
    @foreach (var item in Model)
    {
    <li>
        <a asp-controller="Cinema" asp-action="Diffusion" asp-route-id="@item.Id_CinemaPlace">
            <div>
                <strong>@item.Name</strong> (@item.City)
            </div>
        </a>
    </li>
    }
</ul>